{:linters {:unresolved-symbol {:exclude [goog.DEBUG
                                         (spade.core/defattrs [at-media])
                                         (spade.core/defclass [at-media])
                                         (spade.core/defglobal [at-media])
                                         (spade.core/defkeyframes [at-media])
                                         (com.rpl.specter/recursive-path [p])]}
           :unused-private-var {:exclude [vtolvr.views.error-boundary/clear-errors]}}
 :lint-as {reagent.core/with-let clojure.core/let
           secretary.core/defroute clojure.core/fn
           spade.core/defattrs clojure.core/defn
           spade.core/defclass clojure.core/defn
           spade.core/defglobal clojure.core/def
           spade.core/defkeyframes clojure.core/def}}
