{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  com.rpl/specter {:mvn/version "1.1.2"}
  markdown-to-hiccup {:mvn/version "0.6.2"}
  endophile {:mvn/version "0.2.1"}}

 :aliases
 {:dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.21.0"}}
        :extra-paths ["test"]
        :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test {:extra-paths ["test"]}

  :build {:main-opts ["-m" "vtolvr-pdf.core"]}}}
