;; shadow-cljs configuration
{:dev-http {8080 "public"}

 :source-paths ["src/main" "src/test"]

 :dependencies [; core:
                [reagent "0.8.1"]
                [re-frame "0.10.7"]

                ; navigation:
                [clj-commons/secretary "1.2.4"]
                [kibu/pushy "0.3.8"]

                ; style:
                [net.dhleong/spade "0.1.0-SNAPSHOT"]

                ; util:
                [com.cemerick/url "0.1.1"]
                [cljs-ajax "0.8.0"]]

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"

                :closure-defines {vtolvr.fx/DATA-PREFIX ""}

                :modules {:main {:init-fn vtolvr.core/init}}}

          :ci {:target :karma
               :output-to "target/ci.js"}}}
